# Python
__pycache__/
*.py[cod]
*.so
*.meta
*.egg
*.egg-info/
dist/
build/
npc_memory/*
test/npc_memory/*
*.egg-info
*.egg-info/
*.dist-info/
*.dist-info
*.cache
*.log
*.swp
*.swo

.pytest_cache/
test/.pytest_cache/


# Poetry
__pypackages__/
